
@model List<LeavePortalMMA.ViewModels.LeaveListViewModel>



<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Plan your leave before end of the year</h1>
            <h3>If user not able to login please send email to IT Support</h3>
            <p class="lead">Contact: itsupport@mma.org.my</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div class="jumbotron">

            @if (Convert.ToInt32(Session["CurrentUserIsAdmin"]) != 0)
            {
                <table class="table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>DATE / TIME</th>
                            <th>LEAVE REASON</th>
                            <th>USERNAME</th>
                        </tr>
                        <tr>

                            <td><span class="badge badge-scondary">@item.LeaveDateAndTime</span></td>
                            <td><span class="badge badge-scondary">@item.LeaveReason</span></td>
                            <td><span class="badge badge-scondary">@item.user.Name</span></td>

                        </tr>



                    }
                </table>
            }
            else
            {
                <img src="~/Images/medical.png" />
            }


            @*<table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <th>DATE / TIME</th>
                    <th>LEAVE REASON</th>
                    <th>USERNAME</th>
                </tr>
                <tr>

                    <td><span class="badge badge-scondary">@item.LeaveDateAndTime</span></td>
                    <td><span class="badge badge-scondary">@item.LeaveReason</span></td>
                    <td><span class="badge badge-scondary">@item.user.Name</span></td>

                </tr>



            }
        </table>*@

        </div>

    </div>
</div>

<script>
    $("a[href='/home/index']").attr("id", "active");
</script>