@model List<LeavePortalMMA.ViewModels.LeaveListViewModel>

@{
    ViewBag.Title = "Leaves";
}

@*<div class="row">
        <div class="col-sm-12">
            <table class="table">
                @foreach (var item in Model)
                {
                    Html.RenderPartial("Leave", item);
                }
            </table>
            @if (Session["CurrentUserName"] != null)
            {
                <a href="/questions/create" class="btn btn-primary">Apply Leave</a>
            }
        </div>
    </div>*@

<div class="row">
    <div class="col-sm-12">
        <h3 class="blockquote-footer">Out of 15 Annual leaves @Convert.ToInt32(Session["CurrentUservvalue"]) leaves Approved</h3>

        <div class="jumbotron">




            <table class="table">

            @foreach (var item in Model)
            {
                
                <tr>
                <th>DATE / TIME</th>
                <th>LEAVE REASON</th>
                <th>USERNAME</th>
                @if (Convert.ToInt32(Session["CurrentUserIsAdmin"]) != 0 && Session["CurrentUserName"] != null)
                {
                    <th>DELETE APPLICATION</th>
                }

                <th>STATUS</th>
            </tr>
                <tr>

                    <td><span class="badge badge-scondary">@item.LeaveDateAndTime</span></td>
                    <td><span class="badge badge-scondary">@item.LeaveReason</span></td>
                    <td><span class="badge badge-scondary">@item.user.Name</span></td>

                    @if (Convert.ToInt32(Session["CurrentUserIsAdmin"]) != 0 && Session["CurrentUserName"] != null)
                    {
                        <td><span class="badge badge-scondary"><a href="/Leave/Delete/@item.LeaveID">Delete Applied leave</a></span></td>
                    }
                    <td><span class="categorystatus">@item.category.CategoryName</span></td>
                    @if (Convert.ToInt32(Session["CurrentUserIsAdmin"]) != 0 && Session["CurrentUserName"] != null)
                    {
                        <td><a href="/Leave/UpdateCategory/@item.LeaveID">Update status</a></td>
                    }


                </tr>



            }
            </table>
            @if (Session["CurrentUserName"] != null)
            {
                <a href="/leave/create" class="btn btn-primary">Apply Leave</a>
            }

        </div>

</div>
</div>

<script>
    $("a[href='/allleaves']").attr("id", "active");

    $("document").ready(function () {

        $("span:contains(Requested)").css('color', 'grey')
        $("span:contains(Leave Rejected)").css('color', 'red')
        $("span:contains(Approved)").css('color', 'mediumseagreen')   
        
    })
</script>


